*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}
.preloader{
    width: 100%;
    height: 110vh;
    background-color: rgba(0,0,0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s;
}
.spinner-border{
   color: #fff;
   width: 100px !important;
   height: 100px !important;
   
}
.notificationPopup{
    width: 300px;
    min-height: 80px;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0,0, 0.5);
    color: #fff;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50px;
    right: 50px;
    z-index: 10;
}
.wrap{
    width: 100%;
    min-height: 100vh;
    background-color: #999;
}
.homePage{
    width: 80%;
    min-height: 100vh;
    display: flex;
    background-color: orange;
    left: 20%;
    position: relative;
    transition: 1s;
}
.navBar{
    width: 20%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    padding: 50px 0 50px 40px;
    transition: 1s;
    background-color: blue;
}
.nav{
    margin-top: 140px;
    display: flex;
    flex-direction: column;

}
.logo{
    font-size: calc(24px + 0.4vw);
    cursor: pointer;
}
.nav .navItem{
    margin-top: 30px;
    text-transform: uppercase;
    font-size: calc(6px + 0.4vw);
    letter-spacing: 3px;
    font-weight: 300;
    cursor: pointer;
}
.navItem:hover{
    color: #999;
    transition: .1s;
}
.homePageContainer{
    width:100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    transition: 1s;
    z-index: 90;
    background-color: aqua;
}
.sliderContainer{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    padding: 50px;
    background-position: center;
    background-size: cover;
    background-image: url('./img/1.JPG');
    transition: 1s;
    position: relative;
    margin-top: -50px;
}
.portretContainer{
    width: 100%;
    min-height: 100vh;
    display: none;
    flex-wrap: wrap;
    background-color: orange;
    transition: 1s;
}
/* .portretPhotoContainer{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    background-color: blue;
    justify-content: space-around;
    z-index: 100;
} */
/* .portretHeaderContainer{
    width: 100%;
    height: 10vh;
    background-color: yellow;
} */
.sliderControl{
    display: flex;
    align-items: center;
}
.sliderControl div{
    margin: 0 20px;
    border-left: 2px solid #000 ;
    border-right: 2px solid #000;
    padding: 0 20px;
    height: 12px;
    display: flex;
    align-items: center;
}
footer{
    width: 100%;
    min-height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    background-color:#f2f3f2 ;

}
.footerAuthor{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f2f3f2;
}
.footerSocial{
    display: flex;
    align-items: center;
}
.socialItem{
    width: 30px;
    height: 30px;
    border: 1px solid #414141;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}
.socialItem:hover{
    color: #999;
    border-color: #999;
    cursor: pointer;
    transition: .1s;
}
.socialItem  a{
    color: #414141;
   
}
.socialItem a:hover{
    color: #999;
}
.portfolioGroup{
    padding-bottom: 35px;
    
}
.portfolioGroup .navItem{
    font-size: calc(3px + 0.4vw);
}
.autorItem{
    margin:20px 0;
}
.contactPage{
    width:80%;
    min-height: 100vh;
    display: none;
    flex-direction: column;
    background-color: #f2f3f2;
    position: relative;
    left: 20%;
    padding: 50px;
}
.contactPage h4{
    font-family: 'Montserrat';
    font-size: 25px;
    font-weight: 500;
}
.contactPage p{
    font-family: 'Montserrat';
    font-size: 13px;
    font-weight: 300;
    margin-top: 50px;
}
.emailContainer h6{
    font-size: 15px;
    font-weight: 300;
    font-family: 'Montserrat';
    margin-top: 70px;
}
.emailContainer h5{
    font-size: 15px;
    font-weight: 600;
    font-family: 'Montserrat';
    margin-top: 30px;
}
.emailContainer{
    width: 100%;
    height: 500px;
    display: flex;
    
}
.socialContainer{
    width: 50%;
    height: 500px;
}
.inputContainer{
    width: 100%;
    height: 60vh;
    display: flex;
    
}
.contactPage footer{
    margin-left: -50px;
}
.inputName{
    width: 95%;
    height: 50px;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-top: 50px;
    background-color: #f2f3f2;
    outline: none;
}

.inputEmail{    
    width: 95%;
    height: 50px;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: #f2f3f2;
    outline: none;
}
.sentBtn{
    padding: 10px 40px;
    margin-top: 50px;
    background-color: #000;
    color: #fff;
}
.sentBtn:hover{
    color: #000;
    background-color: #fff;
}
.socialContainer h6{
    font-size: 15px;
    font-weight: 300;
    font-family: 'Montserrat';
    margin-top: 90px;

}
.socialContainer p{
    font-size: 15px;
    font-weight: 600;
    font-family: 'Montserrat';
    margin-top: 30px;
}
textarea{
    width: 95%;
    height: 100px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #666;
    margin-top: 50px;
    background-color: #f2f3f2;
    outline: none;
    resize: none;
}
.myForm{
    display: flex;
    width: 100%;
    
}
.nameContainer{
    width: 50%;
    
}
.telegram{
    padding: 10px 20px;
    color: #fff;
    background-color: #000;
    border-radius: 20px;
    position: relative;
    top: 250px;
    text-decoration: none;
}
.telegram i{
    margin-right: 10px;
    
}
.photosesionItem{
    width: 400px;
    height: 400px;
    box-shadow: 0 0 10px #ccc;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    flex-wrap: wrap;
}
.fotosesionPhoto{
    width: 400px;
    margin:20px;
}
.menu{
    width: 50px;
    background-color: #000;
    height: 50px;
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    position: fixed;
    left: 20%;
    margin-left: 30px;
    top:40px;
    z-index: 99;
    transition: 1s;
}
@media screen and (max-width: 900px) {
    .navBar{
        display: none;
    }
    .homePageContainer{
        width: 100%;
    
        left: 0;
    }
    .sliderContainer{
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    .homePage{
        width: 900px;
    } 
    .navBurger{
        display: flex;
    }
    .logo{
         margin-left: 20px;
    }
    footer{
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
    }
    .autorItem{
       text-align: center;
    }
    .telegram{
        display: flex;
    }
    
}
@media screen and (max-width: 428px){
    .navBurger{
    width: 428px;
    height: 100px;
    display: flex;
    align-items: center;
    font-size: 30px;
    }
    .homePage{
        width: 428px;
    }
    .navBurger i{
        margin-left: 53%;
    }
    .navBar{
        display: flex;
    }
    #exit{
        margin-top: 40px;
        z-index: 100;
    }
    .telegram{
        width: 40%;
    }
    .logo{
        position: relative;
        z-index: 20;
    }
}